%tr
  %td= number_to_currency requisition.requested_amout, unit: '$', format: '%u %n', separator: ".", delimiter: ","
  %td= requisition.payment_terms
  %td= requisition.bank
  %td
    = link_to t('actions.edit'), edit_requisition_path(requisition), class: 'btn btn-success'
    = link_to t('actions.delete'), requisition_path(requisition), data: { confirm: t('messages.are_you_sure') }, method: :delete, class: 'btn btn-danger'
